.item-thumbnail-left,
.item-thumbnail-left .item-content {
    min-height: 75px;
}

.ion-android-cart:before {
    font-size: 24px !important;
}

.item-thumbnail-left > img:first-child,
.item-thumbnail-left .item-image,
.item-thumbnail-left .item-content > img:first-child,
.item-thumbnail-left .item-content .item-image {
    top: 27px;
    left: 16px;
    padding-bottom: 10px;
}

.badge.badge-positive {
    position: absolute;
    right: 5px;
}
